* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    /* Sidebar, Main, Right Section */
    gap: 1rem;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.sidebar {
    padding: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10PX;
    box-shadow: -4PX -4PX 13PX black;
}

.sidebar h2 {
    padding: 10px;
    text-transform: capitalize;
    color: #2c3e50;
}

.sidebar a {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 20px 10PX;
    text-decoration: none;
    color: #333;
    padding-right: 53px;
    transition: background-color 0.3s;
    /* Smooth hover effect */
}

.sidebar a:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.sidebar a.active {
    background-color: #e0e0e0;
    /* Slightly darker for active */
    color: #007bff;
    /* Blue for active text */
}

.sidebar a i {
    margin-right: 10px;
    width: 20px;
    /* Consistent icon size */
    text-align: center;
    /* Center icons */
}

.content {
    /* flex-grow: 1; */
    padding: 20px;
}

.header {
    background: #ecf0f1;
    padding: 10px;
    border-bottom: 2px solid #bdc3c7;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 30px;
    color: #27ae60;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-container,
.card,
a {
    text-decoration: none;
}

.card {
    background: rgba(235, 255, 250, 0.524);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.card:hover {
    transform: scale(1, 1.1) translateX(-10px);
    cursor: pointer;
}

.card h2 {
    font-size: 30px;
    color: #000000;
}