* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    position: relative;
    box-shadow: 0px -10px 17px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.main-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .logo img {
    max-width: 100%;
    height: 60px;
    width: 90px;
}

.main-header .text p {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
}

.main-header p span:first-child {
    color: #004aad;
}

.main-header p span:last-child {
    color: #00bf63;
}

.main-header .form {
    position: relative;
    overflow: hidden;
}

.main-header .form input {
    border-radius: 20px;
    width: 300px;
    height: 30px;
    padding: 8px;
    border: 1px solid black;
}

.main-header .form button {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 8px 20px;
    transform: translateY(-50%);
    background-color: #4497f1;
    border: none;
    width: 35px;
    border-radius: 45%;
    height: 100%;
}

.main-header .form button:hover {
    cursor: pointer;
}

.main-header .form button i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header .fac-img img {
    max-width: 100%;
    height: 60px;
    width: 90px;
}

/* --------------------------------- */
.main-content {
    overflow: hidden;
    min-height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

.sidebar {
    padding: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10PX;
    box-shadow: -4PX -4PX 13PX black;
}

.sidebar a {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 20px 10PX;
    text-decoration: none;
    color: #333;
    padding-right: 53px;
    transition: background-color 0.3s;
    /* Smooth hover effect */
}

.sidebar a:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.sidebar a.active {
    background-color: #e0e0e0;
    /* Slightly darker for active */
    color: #007bff;
    /* Blue for active text */
}

.sidebar a i {
    margin-right: 10px;
    width: 20px;
    /* Consistent icon size */
    text-align: center;
    /* Center icons */
}

.holder {
    /* flex-grow: 1; */
    padding: 20px;
    flex: 1;
}

.holder .header {
    background: #ecf0f1;
    padding:0px 10px;
    border-bottom: 2px solid #bdc3c7;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holder .header h1 {
    font-size: 30px;
    color: #27ae60;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-container,
.card,
a {
    text-decoration: none;

}

.card {
    background: white;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card:hover {
    transform: scale(1, 1.1) translateX(-10px);
    cursor: pointer;
}

.card h2 {
    font-size: 30px;
    color: #2c3e50;
}



.card .highlight {
    font-weight: bold;
    color: #27ae60;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

table,
th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: rgb(0, 0, 0);
    color: #ddd;
}

tr:hover {
    background-color: #ffff00c7;

}

caption {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}
.name{
    color: #464141;
    font-size: 16px;
}
